<header class="business-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="page-header" style="line-height:100px;">Frontier</h2>
                <h5>Collect, configure, and analyze your data to reach the right audience.</h5>
            </div>
        </div>
    </div>
</header>
<div class="container" style="padding-top:50px;">
    <div class="row">
        <div class="col-md-4 img-portfolio">
            <a ui-sref="frontier-collection">
                <img class="img-responsive img-hover" src="./images/frontier/connected.png" alt="">
            </a>
            <h4>Set up Frontier</h4>
            <p>Set up and customize tracking for websites, web and mobile apps, and internet connected devices.</p>
            <a ui-sref="frontier-collection" class="btn btn-link">Choose Platform</a>
        </div>
        <div class="col-md-4 img-portfolio">
            <a href="">
                <img class="img-responsive img-hover" src="./images/frontier/md_integration.svg" alt="">
            </a>
            <h4>Integrate with Frontier</h4>
            <p>Build on top of Frontier with our simple and powerful APIs.</p>
            <a target="_blank" href="" class="btn btn-link">Find an API</a>
        </div>
        <div class="col-md-4 img-portfolio">
            <a ui-sref="frontier-learn">
                <img class="img-responsive img-hover" src="./images/frontier/md_reporting.svg" alt="">
            </a>
            <h4>Learn about Frontier</h4>
            <p>Educate yourself and experience what's possible with the Frontier platform.</p>
            <a ui-sref="frontier-learn" class="btn btn-link">Learn Frontier</a>
        </div>
    </div>
    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Libraries and SDKs for tracking</h3>
        </div>
        <!-- Blog Post Content Column -->
        <div class="col-lg-12">
            <div class="col-md-3 img-portfolio">
                <div class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                </div>
                <h4><a ui-sref="frontier-web">Web Tracking</a></h4>
                <p>Measure user interaction with websites or web applications.</p>
            </div>
            <div class="col-md-3 img-portfolio">
                <div class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-success"></i>
                    <i class="fa fa-android fa-stack-1x fa-inverse"></i>
                </div>
                <h4><a ui-sref="frontier-collection-android">Android</a></h4>
                <p>Measure user interaction with Android applications.</p>
            </div>
            <div class="col-md-3 img-portfolio">
                <div class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-warning"></i>
                    <i class="fa fa-apple fa-stack-1x fa-inverse"></i>
                </div>
                <h4><a ui-sref="frontier-collection-ios">iOS</a></h4>
                <p>Measure user interaction with iOS applications.</p>
            </div>
            <div class="col-md-3 img-portfolio">
                <div class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-info"></i>
                    <i class="fa fa-windows fa-stack-1x fa-inverse"></i>
                </div>
                <h4><a ui-sref="frontier-collection-windows">Win Desktop</a></h4>
                <p>Measure user interaction with Windows applications.</p>
            </div>
            <div class="col-md-3 img-portfolio">
                <div class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-windows fa-stack-1x fa-inverse"></i>
                </div>
                <h4><a ui-sref="frontier-collection-windows">Win RT</a></h4>
                <p>Measure user interaction with Windows applications.</p>
            </div>
        </div>
    </div>
</div>
