<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">
                    <img src="./images/frontier/android.png" width="90px" height="95px">
                    Android
                    <small>Add Frontier to Your Android App</small>
            </h2>
        </div>
    </div>
    <!-- /.row -->
    <!-- Content Row -->
    <div class="row">
        <!-- Sidebar Column -->
        <div class="col-md-3">
            <div class="list-group">
                <a href="" class="list-group-item">Home</a>
                <a href="" class="list-group-item">About</a>
                <a href="" class="list-group-item">Services</a>
                <a href="" class="list-group-item">Contact</a>
                <a href="" class="list-group-item">1 Column Portfolio</a>
                <a href="" class="list-group-item">2 Column Portfolio</a>
                <a href="" class="list-group-item">3 Column Portfolio</a>
                <a href="" class="list-group-item">4 Column Portfolio</a>
                <a href="" class="list-group-item">Single Portfolio Item</a>
                <a href="" class="list-group-item">Blog Home 1</a>
                <a href="" class="list-group-item">Blog Home 2</a>
            </div>
        </div>
        <!-- Content Column -->
        <div class="col-md-9">
            <h2>Overview</h2>
            <p>This guide shows how to add Analytics to your Android app to measure user activity to named screens. If you don't have an application yet and just want to see how Analytics works, take a look at our sample application.
            <br>
            <br>
            <b>Required:</b> Latest versions of Android Studio and Google Play Services
            </p>
        </div>
    </div>
</div>
