<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Learn about Frontier Analytics</h2>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-md-4">
            <!-- Blog Categories Well -->
            <h5>Platform components</h5>
            <p>
                Developers interact and influence processing through a rich user interface, client libraries, and APIs that are organized into 4 main components: collection, configuration, processing, and reporting.
            </p>
            <!-- Side Widget Well -->
            <h5>Collection</h5>
            <p>allows you to manage how the data is processed.</p>
            <h5>Configuration</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
            <h5>Processing</h5>
            <p>processes the user-interaction data, with the configuration data.</p>
            <h5>Reporting</h5>
            <p>provides access to all the processed data.</p>
        </div>
        <div class="col-md-8">
            <img class="img-responsive img-hover" src="./images/frontier/md_reporting.svg" alt="">
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Demos, tools & samples</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <!-- Blog Categories Well -->
            <h5>Frontier Analytics Demos & Tools</h5>
            <p>
                Frontier Analytics Demos & Tools provides live demos to help you learn about Google Analytics features and tools to showcase how Google Analytics can be extended with custom solutions.
            </p>
            <a href="" class="btn btn-link">DEMOS & TOOLS</a>        
        </div>
        <div class="col-md-4">
            <h5>GitHub</h5>
            <p>
                Developers interact and influence processing through a rich user interface, client libraries, and APIs that are organized into 4 main components: collection, configuration, processing, and reporting.
            </p>
            <a target="_blank" href="https://github.com/4LOOPph" class="btn btn-link">Browse Repository</a>
        </div>
         <div class="col-md-4">
            <h5>Bitbucket</h5>
            <p>
                Developers interact and influence processing through a rich user interface, client libraries, and APIs that are organized into 4 main components: collection, configuration, processing, and reporting.
            </p>
            <a target="_blank" href="https://bitbucket.org/fourloopph/4loop-sdks" class="btn btn-link">Browse Repository</a>
        </div>
    </div>
    <hr>
</div>
