<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Set up Frontier</h3>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-md-4 img-portfolio">
            <a href="">
                <img class="img-responsive img-hover" src="./images/frontier/md_collection.svg" alt="">
            </a>
            <h4>Websites and web apps</h4>
            <p>Track user interaction with websites or web apps.</p>
            <a ui-sref="frontier-web-native" class="btn btn-link">Native JS</a>
            <a ui-sref="frontier-web-angular" class="btn btn-link">Angular JS</a>
        </div>
        <div class="col-md-4 img-portfolio">
            <a href="">
                <img class="img-responsive img-hover" src="./images/frontier/md_mobile.svg" alt="">
            </a>
            <h4>Mobile apps</h4>
            <p>Track user interaction with mobile apps.</p>
            <a ui-sref="frontier-collection-android" class="btn btn-link">Android</a>
            <a ui-sref="frontier-collection-ios" class="btn btn-link">iOS</a>
            <a ui-sref="frontier-collection-windows" class="btn btn-link">Windows Phone</a>
        </div>
        <div class="col-md-4 img-portfolio">
            <a href="">
                <img class="img-responsive img-hover" src="./images/frontier/analysis.png" alt="">
            </a>
            <h4>Lorem ipsum dolor sit amet</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
            <a href="" class="btn btn-link">Lorem ipsum</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Ready-to-use integrations and partner services</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>Apps by Technology Partners</h4>
            <p>Find ready-to-use apps and plug-ins for content management systems, Ecommerce providers, tag management services, site auditing tools, etc.</p>
            <a href="" class="btn btn-link">Browse Apps</a>
        </div>
    </div>
    <hr>
</div>
