<!-- Header Carousel -->
<header class="business-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="page-header" style="line-height:100px;">One API. Unlimited possibilities.</h2>
                <h5>Connect to Symphony to create mobile applications, extract data, and integrate with online services.</h5>
            </div>
        </div>
    </div>
</header>
<!-- Page Content -->
<div class="container" style="padding-top:50px;">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="text-center">
                <div class="fa-stack fa-3x">
                    <i class="fa fa-circle fa-stack-2x text-warning"></i>
                    <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </div>
                <br>
                <h5><a href="http://fourloopph.bitbucket.org/projects/pos17/index.html">CHLOE</a></h5>
                <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.</small>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="text-center">
                <div class="fa-stack fa-3x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                </div>
                <br>
                <h5><a ui-sref="symphony">Symphony</a></h5>
                <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.</small>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="text-center">
                <div class="fa-stack fa-3x">
                    <i class="fa fa-circle fa-stack-2x text-success"></i>
                    <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
                </div>
                <br>
                <h5><a ui-sref="frontier">Frontier</a></h5>
                <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.</small>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="text-center">
                <div class="fa-stack fa-3x">
                    <i class="fa fa-circle fa-stack-2x text-info"></i>
                    <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                </div>
                <br>
                <h5><a ui-sref="sdks">SDK's</a></h5>
                <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.</small>
            </div>
        </div>
    </div>
    <!-- Call to Action Section -->
    <div class="row">
        <div class="col-md-4 col-md-offset-4" style="padding-top: 30px;">
            <a class="btn btn-lg btn-primary btn-block" ui-sref="products">View All Products</a>
        </div>
    </div>
</div>
<div class="container" style="padding-top:50px;">
    <!-- Blog Post Row -->
    <div class="row">
        <hr>
        <div class="col-md-6">
            <h3>
                    <a href="blog-post.html">Blog Post Title</a>
                </h3>
            <p>by <a href="#">Start Bootstrap</a>
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <a class="btn btn-primary" href="blog-post.html">Read More <i class="fa fa-angle-right"></i></a>
        </div>
        <div class="col-md-6">
            <h3>
                    <a href="blog-post.html">Blog Post Title</a>
                </h3>
            <p>by <a href="#">Start Bootstrap</a>
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <a class="btn btn-primary" href="blog-post.html">Read More <i class="fa fa-angle-right"></i></a>
        </div>
        <div class="col-md-6">
            <h3>
                    <a href="blog-post.html">Blog Post Title</a>
                </h3>
            <p>by <a href="#">Start Bootstrap</a>
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <a class="btn btn-primary" href="blog-post.html">Read More <i class="fa fa-angle-right"></i></a>
        </div>
        <div class="col-md-6">
            <h3>
                    <a href="blog-post.html">Blog Post Title</a>
                </h3>
            <p>by <a href="#">Start Bootstrap</a>
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <a class="btn btn-primary" href="blog-post.html">Read More <i class="fa fa-angle-right"></i></a>
        </div>
    </div>
</div>
