<!-- Header Carousel -->
<header class="business-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="page-header" style="line-height:100px;">SDKs</h2>
                <h5>Explore our Client and Developer Products</h5>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h4 class="page-header">Explore our services for mobile</h4>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="text-center">
                <div class="fa-stack fa-5x">
                    <i class="fa fa-circle fa-stack-2x text-success"></i>
                    <i class="fa fa-android fa-stack-1x fa-inverse"></i>
                </div>
                <br>
                <a href="">Android</a>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="text-center">
                <div class="fa-stack fa-5x">
                    <i class="fa fa-circle fa-stack-2x text-warning"></i>
                    <i class="fa fa-apple fa-stack-1x fa-inverse"></i>
                </div>
                <br>
                <a href="">iOS</a>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="text-center">
                <div class="fa-stack fa-5x">
                    <i class="fa fa-circle fa-stack-2x text-info"></i>
                    <i class="fa fa-windows fa-stack-1x fa-inverse"></i>
                </div>
                <br>
                <a href="">Windows</a>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="text-center">
                <div class="fa-stack fa-5x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                </div>
                <br>
                <a href="">Web</a>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top:50px">
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <div class="caption">
                    <h4>Product Docs</h4>
                    <ul class="list-unstyled">
                        <li><a href="">Point of Sales</a>
                        </li>
                        <li><a href="">Analytics</a>
                        </li>
                        <li><a href="">Accounting</a>
                        </li>
                        <li><a href="">Human Resource Information System</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <div class="caption">
                    <h4>SDKs</h4>
                    <ul class="list-unstyled">
                        <li><a href="">Android SDK</a>
                        </li>
                        <li><a href="">iOS SDK</a>
                        </li>
                        <li><a href="">Javascript SDK</a>
                        </li>
                        <li><a href="">PHP SDK</a>
                        </li>
                        <li><a href="">Windows SDK</a>
                        </li>
                        <li><a href="">Node.js SDK</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <div class="caption">
                    <h4>Plaforms</h4>
                    <ul class="list-unstyled">
                        <li>
                            <a href="">iOS Developers</a>
                            <p>Add our services to your iOS app.</p>
                        </li>
                        <li>
                            <a href="">Android Developers</a>
                            <p>Add our services to your Android app.</p>
                        </li>
                        <li>
                            <a href="">Windows Developers</a>
                            <p>Add our services to your Windows app.</p>
                        </li>
                        <li>
                            <a href="">Web Developers</a>
                            <p>Add our services to your Web app.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <div class="caption">
                    <h4>APIs</h4>
                    <ul class="list-unstyled">
                        <li><a href="">Point of Sales API</a>
                        </li>
                        <li><a href="">Analytics API</a>
                        </li>
                        <li><a href="">4LOOP Pay</a>
                        </li>
                        <li><a href="">HRIS API</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <div class="caption">
                    <h4>Guides</h4>
                    <ul class="list-unstyled">
                        <li><a href="">App Development</a>
                        </li>
                        <li><a href="">App Review</a>
                        </li>
                        <li><a href="">Platform Policy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <hr>
</div>
