<ul>
    <li class="representation">
        <span class="representation-name"><b><span class="aui-lozenge aui-lozenge-error">Status 400 </span></b>
        </span>
        <div class="representation-doc"><b>Bad Request</b> - Request does not have a valid format, all required parameters, etc.</div>
    </li>
</ul>
<ul>
    <li class="representation">
        <span class="representation-name"><b><span class="aui-lozenge aui-lozenge-error">Status 401 </span></b>
        </span>
        <div class="representation-doc"><b>Unauthorized Access</b> - No currently valid authorization has been made.</div>
    </li>
</ul>
<ul>
    <li class="representation">
        <span class="representation-name"><b><span class="aui-lozenge aui-lozenge-error">Status 403 </span></b>
        </span>
        <div class="representation-doc"><b>Forbidden Access</b> - Access to this service or resource is forbidden with the given authorization.</div>
    </li>
</ul>
<ul>
    <li class="representation">
        <span class="representation-name"><b><span class="aui-lozenge aui-lozenge-error">Status 404</span></b>
        </span>
        <div class="representation-doc"><b>Not Found</b> - Service or resource was not found</div>
    </li>
</ul>
<ul>
    <li class="representation">
        <span class="representation-name"><b><span class="aui-lozenge aui-lozenge-error">Status 500</span></b>
        </span>
        <div class="representation-doc"><b>System Error</b> - Specific reason is included in the error message</div>
    </li>
</ul>
