<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Components</h2>
            <ol class="breadcrumb">
                <li><a ui-sref="design">Design</a>
                </li>
                <li class="active">Components</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h4 class="page-header">Color Swatches</h4>
        </div>
        <div class="col-md-2">
            <div class="color-swatches">
                <div class="swatches">
                    <div class="clearfix">
                        <div class="pull-left light" style="background-color:#5D9CEC"></div>
                        <div class="pull-right dark" style="background-color:#4A89DC"></div>
                    </div>
                    <div class="infos">
                        <h4>BLUE JEANS</h4>
                        <p>#5D9CEC, #4A89DC</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="color-swatches">
                <div class="swatches">
                    <div class="clearfix">
                        <div class="pull-left light" style="background-color:#4FC1E9"></div>
                        <div class="pull-right dark" style="background-color:#3BAFDA"></div>
                    </div>
                    <div class="infos">
                        <h4>AQUA</h4>
                        <p>#4FC1E9, #3BAFDA</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="color-swatches">
                <div class="swatches">
                    <div class="clearfix">
                        <div class="pull-left light" style="background-color:#48CFAD"></div>
                        <div class="pull-right dark" style="background-color:#37BC9B"></div>
                    </div>
                    <div class="infos">
                        <h4>MINT</h4>
                        <p>#48CFAD, #37BC9B</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="color-swatches">
                <div class="swatches">
                    <div class="clearfix">
                        <div class="pull-left light" style="background-color:#A0D468"></div>
                        <div class="pull-right dark" style="background-color:#8CC152"></div>
                    </div>
                    <div class="infos">
                        <h4>GRASS</h4>
                        <p>#A0D468, #8CC152</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="color-swatches">
                <div class="swatches">
                    <div class="clearfix">
                        <div class="pull-left light" style="background-color:#FFCE54"></div>
                        <div class="pull-right dark" style="background-color:#F6BB42"></div>
                    </div>
                    <div class="infos">
                        <h4>SUNFLOWER</h4>
                        <p>#FFCE54, #F6BB42</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="color-swatches">
                <div class="swatches">
                    <div class="clearfix">
                        <div class="pull-left light" style="background-color:#FC6E51"></div>
                        <div class="pull-right dark" style="background-color:#E9573F"></div>
                    </div>
                    <div class="infos">
                        <h4>BITTERSWEET</h4>
                        <p>#FC6E51, #E9573F</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top:10px">
        <div class="col-md-2">
            <div class="color-swatches">
                <div class="swatches">
                    <div class="clearfix">
                        <div class="pull-left light" style="background-color:#ED5565"></div>
                        <div class="pull-right dark" style="background-color:#DA4453"></div>
                    </div>
                    <div class="infos">
                        <h4>GRAPEFRUIT</h4>
                        <p>#ED5565, #DA4453</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="color-swatches">
                <div class="swatches">
                    <div class="clearfix">
                        <div class="pull-left light" style="background-color:#AC92EC"></div>
                        <div class="pull-right dark" style="background-color:#967ADC"></div>
                    </div>
                    <div class="infos">
                        <h4>LAVENDER</h4>
                        <p>#AC92EC, #967ADC</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="color-swatches">
                <div class="swatches">
                    <div class="clearfix">
                        <div class="pull-left light" style="background-color:#EC87C0"></div>
                        <div class="pull-right dark" style="background-color:#D770AD"></div>
                    </div>
                    <div class="infos">
                        <h4>PINK ROSE</h4>
                        <p>#EC87C0, #D770AD</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="color-swatches">
                <div class="swatches">
                    <div class="clearfix">
                        <div class="pull-left light" style="background-color:#F5F7FA"></div>
                        <div class="pull-right dark" style="background-color:#E6E9ED"></div>
                    </div>
                    <div class="infos">
                        <h4>LIGHT GRAY</h4>
                        <p>#F5F7FA, #E6E9ED</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="color-swatches">
                <div class="swatches">
                    <div class="clearfix">
                        <div class="pull-left light" style="background-color:#CCD1D9"></div>
                        <div class="pull-right dark" style="background-color:#AAB2BD"></div>
                    </div>
                    <div class="infos">
                        <h4>MEDIUM GRAY</h4>
                        <p>#CCD1D9, #AAB2BD</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="color-swatches">
                <div class="swatches">
                    <div class="clearfix">
                        <div class="pull-left light" style="background-color:#656D78"></div>
                        <div class="pull-right dark" style="background-color:#434A54"></div>
                    </div>
                    <div class="infos">
                        <h4>DARK GRAY</h4>
                        <p>#656D78, #434A54</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h4 class="page-header">Buttons</h4>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-block">Normal</button>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-default btn-block">Default</button>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-primary btn-block">Primary</button>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-success btn-block">Success</button>
        </div>
    </div>
    <div class="row" style="padding-top:10px">
        <div class="col-md-3">
            <button type="button" class="btn btn-info btn-block">Info</button>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-warning btn-block">Warning</button>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-danger btn-block">Danger</button>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-link btn-block">Link</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h4 class="page-header">Button Groups</h4>
        </div>
        <div class="col-md-6">
            <div class="row" style="padding-top:10px">
                <div class="col-md-4">
                    <div class="btn-group">
                        <button type="button" class="btn"><i class="glyphicon glyphicon-align-left"></i></button>
                        <button type="button" class="btn"><i class="glyphicon glyphicon-align-center"></i></button>
                        <button type="button" class="btn"><i class="glyphicon glyphicon-align-right"></i></button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-align-left"></i></button>
                        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-align-center"></i></button>
                        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-align-right"></i></button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-align-left"></i></button>
                        <button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-align-center"></i></button>
                        <button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-align-right"></i></button>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top:10px">
                <div class="col-md-4">
                    <div class="btn-group">
                        <button type="button" class="btn btn-success"><i class="glyphicon glyphicon-align-left"></i></button>
                        <button type="button" class="btn btn-success"><i class="glyphicon glyphicon-align-center"></i></button>
                        <button type="button" class="btn btn-success"><i class="glyphicon glyphicon-align-right"></i></button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="btn-group">
                        <button type="button" class="btn btn-info"><i class="glyphicon glyphicon-align-left"></i></button>
                        <button type="button" class="btn btn-info"><i class="glyphicon glyphicon-align-center"></i></button>
                        <button type="button" class="btn btn-info"><i class="glyphicon glyphicon-align-right"></i></button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="btn-group">
                        <button type="button" class="btn btn-warning"><i class="glyphicon glyphicon-align-left"></i></button>
                        <button type="button" class="btn btn-warning"><i class="glyphicon glyphicon-align-center"></i></button>
                        <button type="button" class="btn btn-warning"><i class="glyphicon glyphicon-align-right"></i></button>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top:10px">
                <div class="col-md-6">
                    <div class="btn-group">
                        <button type="button" class="btn btn-danger"><i class="glyphicon glyphicon-align-left"></i></button>
                        <button type="button" class="btn btn-danger"><i class="glyphicon glyphicon-align-center"></i></button>
                        <button type="button" class="btn btn-danger"><i class="glyphicon glyphicon-align-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row" style="padding-top:10px">
                <div class="col-md-2">
                    <div class="btn-group-vertical">
                        <button type="button" class="btn btn"><i class="glyphicon glyphicon-home"></i></button>
                        <button type="button" class="btn btn"><i class="glyphicon glyphicon-user"></i></button>
                        <button type="button" class="btn btn"><i class="glyphicon glyphicon-comment"></i></button>
                        <button type="button" class="btn btn"><i class="glyphicon glyphicon-cog"></i></button>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="btn-group-vertical">
                        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></button>
                        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-user"></i></button>
                        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-comment"></i></button>
                        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-cog"></i></button>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="btn-group-vertical">
                        <button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-home"></i></button>
                        <button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-user"></i></button>
                        <button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-comment"></i></button>
                        <button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-cog"></i></button>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="btn-group-vertical">
                        <button type="button" class="btn btn-success"><i class="glyphicon glyphicon-home"></i></button>
                        <button type="button" class="btn btn-success"><i class="glyphicon glyphicon-user"></i></button>
                        <button type="button" class="btn btn-success"><i class="glyphicon glyphicon-comment"></i></button>
                        <button type="button" class="btn btn-success"><i class="glyphicon glyphicon-cog"></i></button>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="btn-group-vertical">
                        <button type="button" class="btn btn-info"><i class="glyphicon glyphicon-home"></i></button>
                        <button type="button" class="btn btn-info"><i class="glyphicon glyphicon-user"></i></button>
                        <button type="button" class="btn btn-info"><i class="glyphicon glyphicon-comment"></i></button>
                        <button type="button" class="btn btn-info"><i class="glyphicon glyphicon-cog"></i></button>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="btn-group-vertical">
                        <button type="button" class="btn btn-danger"><i class="glyphicon glyphicon-home"></i></button>
                        <button type="button" class="btn btn-danger"><i class="glyphicon glyphicon-user"></i></button>
                        <button type="button" class="btn btn-danger"><i class="glyphicon glyphicon-comment"></i></button>
                        <button type="button" class="btn btn-danger"><i class="glyphicon glyphicon-cog"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h4 class="page-header">Button Dropdowns</h4>
        </div>
        <div class="col-md-12">
            <div class="btn-group">
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">Normal <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>&nbsp;
            <div class="blank"></div>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Default <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>&nbsp;
            <div class="blank"></div>
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Primary <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>&nbsp;
            <div class="blank"></div>
            <div class="btn-group">
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">Success <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>&nbsp;
            <div class="blank"></div>
            <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">Info <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>&nbsp;
            <div class="blank"></div>
            <div class="btn-group">
                <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">Warning <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>&nbsp;
            <div class="blank"></div>
            <div class="btn-group">
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">Danger <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top:10px">
        <div class="col-md-12">
            <div class="btn-group">
                <button type="button" class="btn">Normal</button>
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>&nbsp;
            <div class="blank"></div>
            <div class="btn-group">
                <button type="button" class="btn btn-default">Default</button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>&nbsp;
            <div class="blank"></div>
            <div class="btn-group">
                <button type="button" class="btn btn-primary">Primary</button>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>&nbsp;
            <div class="blank"></div>
            <div class="btn-group">
                <button type="button" class="btn btn-success">Success</button>
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>&nbsp;
            <div class="blank"></div>
            <div class="btn-group">
                <button type="button" class="btn btn-info">Info</button>
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>&nbsp;
            <div class="blank"></div>
            <div class="btn-group">
                <button type="button" class="btn btn-warning">Warning</button>
                <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>&nbsp;
            <div class="blank"></div>
            <div class="btn-group">
                <button type="button" class="btn btn-danger">Danger</button>
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-12">
                    <!-- Labels
                ================================================== -->
                    <h4 class="page-header">Labels</h4>
                    <span class="label">Normal</span>&nbsp;
                    <div class="blank"></div>
                    <span class="label label-default">Default</span>&nbsp;
                    <div class="blank"></div>
                    <span class="label label-primary">Primary</span>&nbsp;
                    <div class="blank"></div>
                    <span class="label label-success">Success</span>&nbsp;
                    <div class="blank"></div>
                    <span class="label label-info">Info</span>&nbsp;
                    <div class="blank"></div>
                    <span class="label label-warning">Warning</span>&nbsp;
                    <div class="blank"></div>
                    <span class="label label-danger">Danger</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- Badges
                ================================================== -->
                    <h4 class="page-header">Badges</h4>
                    <span class="badge">Normal</span>&nbsp;
                    <div class="blank"></div>
                    <span class="badge badge-default">Default</span>&nbsp;
                    <div class="blank"></div>
                    <span class="badge badge-primary">Primary</span>&nbsp;
                    <div class="blank"></div>
                    <span class="badge badge-success">Success</span>&nbsp;
                    <div class="blank"></div>
                    <span class="badge badge-info">Info</span>&nbsp;
                    <div class="blank"></div>
                    <span class="badge badge-warning">Warning</span>&nbsp;
                    <div class="blank"></div>
                    <span class="badge badge-danger">Danger</span>&nbsp;
                </div>
            </div>
        </div>
    </div>
</div>
