<header class="business-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="page-header" style="line-height:100px;">Design</h2>
                <h5>Up and running with 4LOOP design guidelines</h5>
            </div>
        </div>
    </div>
</header>
<div class="container" style="padding-top:50px;">
    <div class="row">
        <div class="col-md-3 img-portfolio">
            <a href="">
                <img class="img-responsive img-hover" src="./images/devices1.svg" alt="">
            </a>
            <h4 class="text-center"><a href="">Animation</a></h4>
        </div>
        <div class="col-md-3 img-portfolio">
            <a ui-sref="design-style">
                <img class="img-responsive img-hover" src="./images/devices.svg" alt="">
            </a>
            <h4 class="text-center"><a ui-sref="design-style">Style</a></h4>
        </div>
        <div class="col-md-3 img-portfolio">
            <a ui-sref="design-layout">
                <img class="img-responsive img-hover" src="./images/editor.svg" alt="">
            </a>
            <h4 class="text-center"><a ui-sref="design-layout">Layout</a></h4>
        </div>
        <div class="col-md-3 img-portfolio">
            <a ui-sref="design-components">
                <img class="img-responsive img-hover" src="./images/coding.svg" alt="">
            </a>
            <h4 class="text-center"><a ui-sref="design-components">Components</a></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h4 class="page-header">Browser Support</h4>
            <p>Specifically, we support the latest versions of the following browsers and platforms.</p>
            <p>Alternative browsers which use the latest version of WebKit, Blink, or Gecko, whether directly or via the platform's web view API, are not explicitly supported. However, should (in most cases) display and function correctly in these browsers as well. More specific support information is provided below.</p>
        </div>
        <div class="col-lg-12">
            <h4>Mobile devices</h4>
            <p>
                Generally speaking, Bootstrap supports the latest versions of each major platform's default browsers. Note that proxy browsers (such as Opera Mini, Opera Mobile's Turbo mode, UC Browser Mini, Amazon Silk) are not supported.
            </p>
            <p>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <td></td>
                                <th>Chrome</th>
                                <th>Firefox</th>
                                <th>Safari</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Android</th>
                                <td class="text-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Supported</td>
                                <td class="text-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Supported</td>
                                <td class="text-muted">N/A</td>
                            </tr>
                            <tr>
                                <th scope="row">iOS</th>
                                <td class="text-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Supported</td>
                                <td class="text-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Supported</td>
                                <td class="text-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Supported</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </p>
            <p><b>Note:</b> IE9 does not support transitions or animations. The template will function properly but it won't use animations/transitions on IE9.</p>
            <h4>Desktop browsers</h4>
            <p>
                Similarly, the latest versions of most desktop browsers are supported.
            </p>
            <p>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <td></td>
                                <th>Chrome</th>
                                <th>Firefox</th>
                                <th>Internet Explorer</th>
                                <th>Opera</th>
                                <th>Safari</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Mac</th>
                                <td class="text-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Supported</td>
                                <td class="text-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Supported</td>
                                <td class="text-muted">N/A</td>
                                <td class="text-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Supported</td>
                                <td class="text-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Supported</td>
                            </tr>
                            <tr>
                                <th scope="row">Windows</th>
                                <td class="text-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Supported</td>
                                <td class="text-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Supported</td>
                                <td class="text-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Supported</td>
                                <td class="text-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Supported</td>
                                <td class="text-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Not supported</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </p>
            <p>On Windows, we support Internet Explorer 8-11.</p>
            <p>For Firefox, in addition to the latest normal stable release, we also support the latest Extended Support Release (ESR) version of Firefox.</p>
            <p>Unofficially, this should look and behave well enough in Chromium and Chrome for Linux, Firefox for Linux, and Internet Explorer 7, as well as Microsoft Edge, though they are not officially supported.</p>
            <h4>Internet Explorer 8 and 9</h4>
            <p>Internet Explorer 8 and 9 are also supported, however, please be aware that some CSS3 properties and HTML5 elements are not fully supported by these browsers. In addition, Internet Explorer 8 requires the use of Respond.js to enable media query support.</p>
            <p>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="col-xs-4">Feature</th>
                                <th class="col-xs-4">Internet Explorer 8</th>
                                <th class="col-xs-4">Internet Explorer 9</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"><code>border-radius</code></th>
                                <td class="text-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Not supported</td>
                                <td class="text-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Supported</td>
                            </tr>
                            <tr>
                                <th scope="row"><code>box-shadow</code></th>
                                <td class="text-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Not supported</td>
                                <td class="text-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Supported</td>
                            </tr>
                            <tr>
                                <th scope="row"><code>transform</code></th>
                                <td class="text-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Not supported</td>
                                <td class="text-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Supported, with <code>-ms</code> prefix</td>
                            </tr>
                            <tr>
                                <th scope="row"><code>transition</code></th>
                                <td colspan="2" class="text-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Not supported</td>
                            </tr>
                            <tr>
                                <th scope="row"><code>placeholder</code></th>
                                <td colspan="2" class="text-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Not supported</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </p>
        </div>
    </div>
</div>
